@font-face {
  font-family: 'Flutterwave';
 src:  url('../../static/font/flw1.ttf');
}
@font-face {
  font-family: 'FlutterwaveBold';
  src:  url('../../static/font/flw2.ttf');
}

body, *{
  font-family: 'Flutterwave', Fallback, sans-serif !important;
}

h1,h2,h3,h4, h5{
  font-family: 'FlutterwaveBold', Fallback, sans-serif !important;
}

.centralise{
  text-align: center !important;

}
.no-underline{
  text-decoration: none;
}
ion-title{
  text-align: center !important;
}
ion-back-button{
  color:red !important;
  background-color: black !important;
}
.modal-wrapper.sc-ion-modal-md{
  opacity: 1 !important;
}

.card_padding{
  padding: 20px;
}

.margin_top{
  margin-top: 10px;
}

.margin_bottom{
  margin-bottom: 10px;
}

.margin_left{
  margin-left: 10px;
}

.margin_right{
  margin-right: 10px;
}
.bold{
  font-weight: bolder;
}
.no-padding{
  padding: 0;
}

ion-button{

  -webkit-tap-highlight-color: #f7a622 !important; ;

}

.inner-scroll{
/*
top: calc(var(--offset-top) * -2) !important;
*/
}
/*




.active-link > button{
  color: #F7F8FB !important;
  background-color: #f7a622 !important;

}

.inherit{
  color: inherit;
  background: inherit;
}
*/

@media only screen and (min-width: 760px) {

  .centralized_card {
    width: 50%;
    margin: 10vh auto !important;
  }
}
